{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "2d109662-354d-4ef9-b589-388ae3f317c9",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}